@charset "UTF-8";

@font-face {
    font-family: MyFont1;
    src: url(../font/aoyagireisyosimo_otf_2_01.otf);
}

/* h1{
    font-family: MyFont1;
} */

/* 共通パーツ */

html{
    font-size: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

.container{
    width: 90%;
    margin: auto;
}

.container-thin{
    width: 80%;
    margin: auto;
}

section{
    min-height: 100vh;
    padding-bottom: 5%;
    margin-bottom: 10vh;
    letter-spacing: 3.5px;
}

.title-space__mb7{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 7vh;
}

.title-space__mb5{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5vh;
}

.text-content{
    text-align: center;
    margin-bottom: 7vh;
}

.strong{
    font-weight: bold;
    font-size: 2em;
}
.strong-175{
    font-size: 1.5em;
}
.strong-soft{
    font-size: 1.5em;
}
.marker{
    background: linear-gradient(transparent 60%, yellow 60%);
}


/* header */
.header-items{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 80%;
}
.nav{
    width: 50%;
}
.nav ul{
    display: flex;
}
.nav-item{
    margin-right: 4%;
    width: 80%;
    text-align: center;
    color: #fff;
}
.logo-item{
    margin-right: 5%;
    height: 50%;
}

.logo-p{
    max-width: 6.5vw;
}


/* topページ */
.top{
    background-image: url(../img/fireworks1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.title-space-vertical{
    position: absolute;
    top: 5vh;
    right: 3vh;
}
.top-title{
    writing-mode: vertical-rl;
    font-size: 5.5em;
    line-height: 0.95em;
    font-weight: bold;
    text-shadow: 
        0 0 0.05em #f06292,
        0 0 0.10em #f06292,
        0 0 0.15em #f06292,
        0 0 0.30em #f06292;
    filter: saturate(80%);
    font-family: MyFont1;
    color: #fff;
    padding-top: 22%;
    display: inline-block;
}
.copy-position{
    text-align: left;
}
.copy{
    position: absolute;
    top: 50px;
    left: 50px;
    writing-mode: vertical-rl;
    font-size: 3em;
    line-height: 2em;
    letter-spacing: 0.3em;
    font-weight: bold;
    text-shadow: 
        0 0 0.05em #f06292,
        0 0 0.10em #f06292,
        0 0 0.15em #f06292,
        0 0 0.30em #f06292;
    filter: saturate(80%);
    font-family: MyFont1;
    color: #fff;
    padding-top: 5%;
    margin-left: 3%;
    text-align: center;
}
.big{
    font-size: 1.5em;
}
.day{
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 2em;
    line-height: 2em;
    letter-spacing: 0.3em;
    font-weight: bold;
    text-shadow: 
        0 0 0.05em #e7e69df6,
        0 0 0.10em #e7e69df6,
        0 0 0.15em #e7e69df6,
        0 0 0.30em #e7e69df6;
    opacity: 0.8;
    color: #fff;
    margin-left: 3%;
    text-align: left;
    font-family: MyFont1;
}
.big1{
    font-size: 2em;
}

/* information */
.tp-table{
    margin-bottom: 5vh;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.tp-table dl{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tp-table dt{
    width: 40%;
    background-color: #333;
    color: #fff;
    border: 1px solid #e5e5e5;
    padding: 1em 4em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tp-table dd{
    width: 60%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 1em 2em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-content h3{
    display: inline-block;
    padding: 0.75% 1.5%;
    border-bottom: 0.2rem solid #333;
}

.pick-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pick-up h3{
    margin-left: 1vh;
}

.pick-up-logo{
    height: 4vh;
    width: auto;
    max-width: 5vw;
}

.pick-up-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

.pick-up-text{
    width: 70%;
    margin: 0 auto;
}

/* access */
.time-table{
    width: 80%;
    margin: 0 auto;
}

.time-table dl{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time-table dt{
    width: 30%;
    background-color: #333;
    color: #fff;
    border: 1px solid #e5e5e5;
    padding: 1em 4em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.time-table dd{
    width: 35%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 1em 4em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* gallery */
/* .swiper-container{
    width: 100%;
    height: 100vh;
} */

/* footer */
footer{
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.footer-logo img{
    height: 10vh;
}

.footer-nav a{
    color: #fff;
}








/* レスポンシブ用 iPad */
@media screen and (max-width: 768px){}



/* レスポンシブ用 スマホ */
@media screen and (max-width: 480px){}